[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://localhost:8080/simple"
verify_ssl = false
name = "efetac-ai-research-files"

[[source]]
url = "https://download.pytorch.org/whl/torch_stable.html"
verify_ssl = true
name = "pytorch_download"

[packages]
numpy = "*"
opencv-python = "*"
matplotlib = "*"
pytorch = "*"
rasterio = "*"
pypiserver = "*"

[dev-packages]

[requires]
python_version = "3.9"
